.body-items{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-wrap{
  width: 100%;
  padding: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40rem;
  max-height: 35rem;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  color: #fff;
  margin: 0.8rem;
}

.card:hover{
  box-shadow: 0 25px 45px rgba(0,0,0,0.25);
}

.img-card {
  position: relative;  
  display: flex;
  max-height: 20rem;
  width: auto;
/*  height: 25rem;
  width: 35rem;*/
  margin: 1.5rem;
  overflow: hidden;
  border-radius: 10px;
}

.img-card img {
  width: 100%;
  height: auto;
}

.img-content{
  padding: 0.5rem 0 0.5rem 0;
  text-transform: capitalize;
}

.img-person{
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: solid underline white 1px !important;
  text-underline-offset: 15px;
  padding: 0 0 1rem 0;
  text-shadow: 2px 2px rgba(0,0,0,0.1);
}

.img-adress{
  font-size: 1.2rem;
  font-weight: 400;
}

.img-date{
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
}

.img-task{
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  padding: 0.5rem 3rem 0 3rem;
}

.info-modal{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 2rem 2rem 0.5rem 2rem;
}

.cancel-btn{
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0.5rem;
  margin: 0.5rem 0 0.7rem 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
}

.cancel-btn:hover {
  cursor: pointer;
}

.cancel-btn:focus{
  border: 1px solid #fff;
  outline:none;
}


/*Responsive*/
@media screen and (max-width: 1650px) {
  .card{
    max-width: 30rem;
  }
}

@media screen and (max-width: 990px) {
  .items-wrap{
    padding: 7rem 5rem;
  }
  .card{
    max-width: 25rem;
  }
  .img-person{
    font-size: 1.2rem;
    padding: 0 0 0.8rem 0;
  }
  .img-content{
    padding: 0.4rem 0 0.4rem 0;
  }
  .img-adress{
    font-size: 1rem;
  }
  .img-date{
    font-size: 0.8rem;
  }
  .img-task{
    font-size: 0.9rem;
    padding: 0.5rem 3rem 0 3rem;
  }
  .info-modal{
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 600px) {
  .items-wrap{
    padding: 7rem 2rem;
  }
  .card{
    max-width: 20rem;
  }
  .img-card {
    margin: 1rem;
  }
  .img-person{
    font-size: 1rem;
    padding: 0 0 1rem 0;
  }
  .img-content{
    padding: 0.3rem 0 0.3rem 0;
  }
  .img-adress{
    font-size: 0.8rem;
  }
  .img-date{
    font-size: 0.7rem;
  }
  .img-task{
    font-size: 0.8rem;
    padding: 0rem 3rem 0 3rem;
  }
  .info-modal{
    font-size: 0.9rem;
  }
}


@media screen and (max-width: 450px) {
  .items-wrap{
    padding: 6rem 1.5rem;
  }
  .img-card {
    margin: 0.8rem;
  }
  .img-person{
    font-size: 0.9rem;
  }
  .img-content{
    padding: 0.2rem 0 0.2rem 0;
  }
  .img-adress,.img-task{
    font-size: 0.7rem;
  }
  .img-date{
    font-size: 0.6rem;
  }
  .info-modal{
    font-size: 0.8rem;
  }
}
