.card-modal{
  display: flex;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  height: auto;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.11);
  border-radius: 10px;
  color: #fff;
}

.card-modal:hover{
  box-shadow: 0 25px 45px rgba(0,0,0,0.25);
}

.modal__actions{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 450px) {
  .card-modal{
    min-width: 16rem;
  }
}