.body-items{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-wrap{
  width: 100%;
  padding: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /*max-width: 40rem;
  height: auto;*/
  width: 40rem;
  height: 30rem;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  color: #fff;
  margin: 0.8rem;
}

.card-modal{
  display: flex;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  height: auto;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.11);
  border-radius: 10px;
  color: #fff;
  margin: 0.8rem;
}

.card:hover,.card-modal:hover{
  box-shadow: 0 25px 45px rgba(0,0,0,0.25);
}

.img-card {
  position: relative;
  margin: 1.5rem;
}

.img-card img {
  width: 100%;
  border-radius: 10px;
}
.img-content{
  padding: 0.5rem 0 0.5rem 0;
}

.img-person{
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: solid underline white 1px !important;
  text-underline-offset: 15px;
  padding: 0 0 1rem 0;
}

.img-adress{
  font-size: 1.2rem;
  font-weight: 400;
}

.img-date{
  font-size: 0.9rem;
  font-weight: 400;
}

.img-task{
  font-size: 1rem;
  font-weight: 400;
}


.cancel-btn{
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0.5rem;
  margin: 0.5rem 0 0.7rem 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
}
.cancel-btn:hover {
  cursor: pointer;
}
.cancel-btn:focus{
  border: 1px solid #fff;
  outline:none;
}


/*Responsive*/
@media screen and (max-width: 1650px) {
  .card{
    max-width: 30rem;
  }
}

@media screen and (max-width: 990px) {
  .items-wrap{
    padding: 7rem 5rem;
  }
  .card{
    max-width: 25rem;
  }
  .img-person{
    font-size: 1.2rem;
    padding: 0 0 0.8rem 0;
  }
  .img-content{
    padding: 0.4rem 0 0.4rem 0;
  }
  .img-adress{
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .items-wrap{
    padding: 7rem 2rem;
  }
  .card{
    max-width: 20rem;
  }
  .img-card {
    margin: 1rem;
  }
  .img-person{
    font-size: 1rem;
    padding: 0 0 0.5rem 0;
  }
  .img-content{
    padding: 0.3rem 0 0.3rem 0;
  }
  .img-adress{
    font-size: 0.8rem;
  }
}


@media screen and (max-width: 450px) {
  .items-wrap{
    padding: 6rem 1.5rem;
  }
  .img-card {
    margin: 0.8rem;
  }
  .img-person{
    font-size: 0.9rem;
  }
  .img-content{
    padding: 0.2rem 0 0.2rem 0;
  }
  .img-adress{
    font-size: 0.7rem;
  }
}