
body{
 /* background: #EA8D8D;
  background: radial-gradient(at left top, #EA8D8D, #A990FE);*/

  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
